<div class="container bg-warning bg-opacity-10">
    <h1 class="text-center text-warning mt-4 mb-4">La liste : {{products.length}} fruits différents</h1>

    <!-- <div *ngFor="let produit of products">
        <p>
            {{produit.title}}
        </p>
    </div> -->

    <div class="row">
        <div class="col-6">
            <h6 class="text-info text-center mb-4">Rechercher par tranche de prix</h6>
            <!-- *******************************Début du formulaire de recherche par prix *****************************-->
            <form (ngSubmit)="searchByPrice(price_prod)" #price_prod="ngForm">
                <div class="row">
                    <div class="col-4">
                        <input type="number" class="form-control" name="price_min" ngModel placeholder="Prix minimal">
                    </div>
                    <div class="col-4">
                        <input type="number" class="form-control" name="price_max" ngModel placeholder="Prix maximal">
                    </div>
                    <div class="col-4 text-center">
                        <button type="submit" class="btn btn-primary">Recherche</button>
                    </div>
                </div>
            </form>
            <!-- ******************************Fin du formulaire de recherche par prix ****************************** -->
        </div>
        <div class="col-6">
            <h6 class="text-info text-center mb-4">Rechercher par mot-clés</h6>
            <!-- *******************************Début du formulaire de recherche par mot-clés *****************************-->
            <form (ngSubmit)="searchByWord(word_prod)" #word_prod="ngForm">
                <div class="row">
                    <div class="col-8">
                        <input type="text" class="form-control" name="word_search" ngModel placeholder="Mot-clé(s)">
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-primary">Recherche</button>
                    </div>
                </div>
            </form>
            <!-- ******************************Fin du formulaire de recherche par mot-clés ****************************** -->
        </div>
    </div>
    <section class="row">
        <div class="text-center ml-4 mb-4 pl-4 pb-4 bg-success " *ngIf="afficher">Le produit est supprimé</div>

        <div class="col-4 pe-4 mb-4 mt-4 pd-4 bg-white" style="height: 500px;" *ngFor="let produit of products">
            <img src="{{produit.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{produit.title}}</h5>
                <p class="card-text fs-6 fw-light">{{produit.description}}</p>

                <div class="row">
                    <div class="col-4">
                        <a href="#" class="btn btn-primary">{{produit.price}} €/kg</a>
                    </div>
                    <div class="col-2">
                        <i class="fa-solid " (click)="changeAvailability(produit)"
                            [ngClass]="{'text-success fa-thumbs-up' : produit.available, 'text-danger fa-thumbs-down': !produit.available}">
                            <i class="fa-solid fa-basket-shopping"></i>
                            <!-- Disponibilité : {{produit.available}} -->
                        </i>
                    </div>
                    <!-- Création du btn modifier le produit -->
                    <div class="col-3">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" (click)="editProduct(produit)"
                            data-bs-target="#exampleModal" *ngIf="isAuth">
                            Modifier
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Modification du fruit</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Formulaire - début  (ngSubmit)="updateProduct(product)" #product="ngForm"-->
                                        <form>
                                            <div class="form-group">
                                                <label>Nom</label>
                                                <input type="text" class="form-control" name="title" [(ngModel)]="edit_product.title" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Description</label>
                                                <input type="text" class="form-control" name="description" [(ngModel)]="edit_product.description" required > 
                                            </div>
                                            <div class="form-group">
                                                <label>Lien de l'image</label>
                                                <input type="text" class="form-control" name="image" [(ngModel)]="edit_product.image" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Prix au kilo</label>
                                                <input type="number" class="form-control" name="price" [(ngModel)]="edit_product.price" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Disponibilité</label>
                                                <input type="boolean" class="form-control" name="available" [(ngModel)]="edit_product.available" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary"  (click)="updateProduct()" data-bs-dismiss="modal">Sauvegarder les changements</button>
                                        </form>
                                        <!-- Formulaire - Fin  -->
                                    </div>
                                    <div class="modal-footer">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-3">
                        <button class="btn btn-danger" (click)="deleteProduct(produit.id)" *ngIf="isAuth">Supprimer</button>
                    </div>
                </div>


            </div>
        </div>
    </section>



</div>